body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-family: Helvetica; sans-serif;
  line-height: 1.5em;
}

/* Formatting for all typography */
.right {
  font-size: 1em;
}

figcaption {
  font-size: 0.75em;
}

h1 {
  font-size: 2em;
  font-weight: 520;
  line-height: 2em;
  padding-top: 10px;
}

h3 {
  font-size: 1.2em;
  font-weight:320;
  line-height: 1.3em;
}

.author {
  font-size: 0.81em;
  text-transform: uppercase;
  line-height: 1.5em;
  padding-top: 15px;
}

.story-text {
  font-size: 1em;
  line-height: 1.5em;
}



/* Formats navbar */
nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 60%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

/* remove underline but display interactivity */
a{text-decoration: none;}
a:link {color: #ffffff;}
a:visited {color: #ffffff;}
a:hover {color:#ffa500;}


article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
